<nav class="navbar"></nav>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Search for an API</h3>
      <h5>The API for APIs</h5>
      <br />
      <form>
        <div class="form-group">
          <input type="text" placeholder="Enter a topic" name="searchTerm">
        </div>
          <button type="submit" class="btn btn-info">Submit</button>
      </form>
      <br />
      <a class="btn btn-dark" routerLink="/api/favorites">See Favorite APIs</a>
    </div>
    <div class="col">
      <div *ngIf="apis">
        <div class="card" *ngFor="let api of apis" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{api.API}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{api.Description}}</h6>
            <a href="{{api.Link}}" class="btn btn-info">Go to API</a>
            <a href="#" class="btn btn-dark">Favorite</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
